
 html, body{
    background: #E5E5E5;
    margin: 0;
    
}
.container_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}   
.container_principal,img{

    margin-top: 25px;
}    


.izquierda #input1{
        position: relative;    
        height: 200px;
        width: 400px;
        left: 100px;
        top: -125PX;
        border-radius: 32px;
}
.izquierda #input2{
    position: relative;    
    height: 700px;
    width: 400px;
    left: 1000px;
    top: 40px;
    border-radius: 32px;
}

.boton{

    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 35px;
    gap: 8px;
    
    width: 528px;
    height: 87px;

    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}